{% extends 'app/base.html' %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Funda fahrschule{% endblock %}

{% block content %}
    {% include "app/common/header.html" %}

    <main>
        {% include "app/common/carousel.html" %}

  <div class="container marketing">
      {% include "app/partials/features.html" %}
      {% include "app/partials/happy-customers.html" %}

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-center">Kompetente Ausbildung<br /> in den <span class="text-muted">Klassen A, B, C und Anhänger Klassen.</span></h2>
        <p class="lead">Jetzt neu B196, B197.</p>
        <p class="lead">Jetzt neu C/CE auch mit Bildungsgutschein möglich, sowie Kurierfahrer mit B/BE.</p>
        <p class="lead">Schlüsselzahl 196 (B196) Ab sofort hast du die Erlaubnis Leichtkrafträder bis 125 ccm und einer Motorleistung von max. 11 kW zu fahren. Das Verhältnis Leistung/Gewicht darf 0,1 kW/kg nicht übersteigen. Nur im Inland.</p>
        <p class="lead">Schlüsselzahl 197 (B197) Du darfst uneingeschränkt Autos mit Handschaltgetriebe und Automatikgetriebe im Inland und Ausland fahren. Deine Fahrausbildung und Prüfung findet auf einem Auto mit Automatikgetriebe statt.</p>
      </div>
      <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="static/img/Image-2020-02-11.jpg" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Rufen Sie uns <span class="text-muted">jetzt an!</span></h2>
        <p class="lead">​Mit Spaß durch die Führerscheinausbildung.</p>
          <p class="lead"><a href="tel:+4903052646003">+49 (0) 30 526 46 003</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="static/img/do-not-be-like-penguin.jpeg" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette mb-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">Beste Leistung zu Top Preisen.</h2>
        <p class="lead">Die Fahrschule Funda steht mit ihrem Namen in Berlin Spandau in der nähe der Wasserstadtbrücke für eine freundliche und kompetente Führerscheinausbildung. Besonders Fahrschüler mit Ängsten im Straßenverkehr werden dabei die Ängste mit Verständnis und Erfahrung gezielt genommen. Die Fahrschule Funda findet für jeden Fahrschüler den "Königsweg" und bringt euch sicher durch den Führerschein in Berlin Spandau.</p>
      </div>
      <div class="col-md-5">
        <iframe class="fu-google-map-frame" title="Rauchstr. 28 13587 Berlin" src="https://maps.google.com/maps?q=Rauchstr.%2028%2013587%20Berlin&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" aria-label="Rauchstr. 28 13587 Berlin"></iframe>
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
    <!-- FOOTER -->
  {% include "app/common/footer.html" %}
{% endblock %}