asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.3
django-bootstrap-icons==0.8.7
django-bootstrap5==23.4
idna==3.6
pillow==10.2.0
requests==2.31.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
