<div id="myCarousel" class="carousel slide carousel-underline" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="transform" src="static/img/front-side-school.jpg">

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>Kompetente Ausbildung in den Klassen A, B, C und Anhänger Klassen</h2>
            <p><a class="btn btn-lg btn-primary-funda" href="#">Mehr erfahren</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <img class="bd-placeholder-img" src="static/img/action-adult-blur-car-scaled.jpg">

        <div class="container">
          <div class="carousel-caption">
            <h1>Beste Leistung zu Top Preisen</h1>
            <p>Die Fahrschule Funda steht mit ihrem Namen in Berlin Spandau in der nähe der Wasserstadtbrücke für eine freundliche und kompetente Führerscheinausbildung.</p>
            <p><a class="btn btn-lg btn-primary-funda" href="#">Mehr erfahren</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <img class="bd-placeholder-img" src="static/img/front-side-school-mercedes.jpg">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>LKW-Ausbildung.</h1>
            <p>Unsere Fahrschule ist spezialisiert auf die theoretische und praktische Fahrschulausbildung.</p>
            <p><a class="btn btn-lg btn-primary-funda" href="#">Mehr erfahren</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>