{% load django_bootstrap5 %}
{% load bootstrap_icons %}

<div class="container px-4 py-2" id="hanging-icons">
    <div class="row">
    <h2 class="pb-2 border-bottom">Was wir bieten</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i style="font-size:24px" class="fa">&#xf21c;</i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Motorrad-Führerschein</h3>
          <p>Im August 1888 wurde der erste Führerschein der Klasse B an Carl Benz ausgestellt. Wann bist Du dran?</p>
          <a href="#" class="">
            Führerschein-Klasse A Offen
          </a>
        </div>
      </div>
        <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i style="font-size:24px" class="fa">&#xf21c;</i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Motorrad-Führerschein</h3>
          <p>Du willst den Führerschein der Klasse A Offen machen? Bei Fahrschule Funda gar kein Problem!</p>
          <a href="#" class="">
            Führerschein-Klasse A2
          </a>
        </div>
      </div>

        <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i style="font-size:24px" class="fa">&#xf21c;</i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Motorrad-Führerschein</h3>
          <p>Du hast Interesse am Motorrad Führerschein Klasse A2? Melde Dich bei uns!</p>
          <a href="#" class="">
            Führerschein-Klasse A1
          </a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          {% bs_icon 'car-front-fill' %}
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">PKW-Führerschein</h3>
          <p>Bei uns erhalten Sie das Komplettpaket. Keine Wünsche bleiben unerfüllt.</p>
          <a href="#" class="">
            Führerschein-Klasse B
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          {% bs_icon 'easel2' %}
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Theorie</h3>
          <p>Du bist mindestens 16 Jahre alt und willst den Führerschein der Klasse A1 machen? Kein Problem!</p>
          <a href="#" class="">
            Theorie online lernen
          </a>
        </div>
      </div>

        <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          {% bs_icon 'car-front-fill' %}
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Moderne Fahrzeuge</h3>
          <p>Dank unsere Partnersoftware kannst Du bequem online für die theoretische Prüfung büffeln.</p>
          <a href="#" class="">
            Mehr erfahren
          </a>
        </div>
      </div>
    </div>
  </div>
    <hr class="featurette-divider" />
  </div>