<div>
    <h2 class="fw-light mb-5 text-center">Glückliche Kunden</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="static/img/nejla-customer.jpg" width="200px">

            <h2>Nejla</h2>
            <p>Eine tolle Fahrschule meiner Meinung nach. Sowohl mein Fahrlehrer als auch das ganze Team waren sehr höflich freundlich und hilfsbereit. Man bekommt alles perfekt erklärt und es wird einem sehr gut beigebracht.</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="static/img/dero-customer.png" width="174px">

            <h2>Dero</h2>
            <p>Eine tolle Fahrschule. Das ganze Team war sehr nett und vor allem humorvoll. Ich hatte mit Funda und Stephan meine Fahrstunden.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="static/img/kerime-customer.png" width="234px">

            <h2>Kerime</h2>
            <p>Eine ganz tolle Fahrschule. Das ganze Team ist super nett und man fühlt sich gut aufgehoben. Bei den Fahrstunden ist die Stimmung sehr locker und angenehm, sodass man entspannt lernen kann.</p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>